//----------------------------------*\
// SCSS MIXINS
//----------------------------------*/

@import 'mixins/_position.scss';

//----------------------------------*\
// CONFIG MODULES
//----------------------------------*/

// Config modules
@import 'modules/_vars.scss';
@import 'modules/_clearfix.scss';
@import 'modules/_defaults.scss';
@import 'modules/_normalize.scss';
//----------------------------------*\
// PARTIALS
//----------------------------------*/

@import 'partials/_header.scss';
@import 'partials/_nav.scss';
@import 'partials/_sidebar.scss';
@import 'partials/_main.scss';
@import 'partials/_footer.scss';

//----------------------------------*\
// OBJECTS & MODULES
//----------------------------------*/

@import 'modules/_buttons.scss';
@import 'modules/_inputs.scss';
@import 'modules/_lists.scss';
@import 'modules/_typography.scss';
@import 'modules/_misc.scss';
@import 'modules/_app.scss';

// Enhancement modules
@import 'modules/_breakpoints.scss';
@import 'modules/_print.scss';

//----------------------------------*\
// VENDOR
//----------------------------------*/

@import 'vendor/_external.scss';

body {
  display: flex;
}


#streams {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.stream-wrapper {
  flex: 1 0 50%;
  width: 100%;
  min-height: 300px;
  position: relative;
  .chat-button {
    top: 0;
    right: 70px;
    background: rgba(red, 0.5);
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    display: block;
    z-index: 999;
    position: absolute;
    color: white;
    padding: 10px 20px;
    opacity: 0;
    cursor: pointer;
    &:hover {
      background-color: darken(rgba(red, 1), 10%);
    }
  }
  border: 2px solid transparent;
  background: black;

  &.selected {
    border: 2px solid rgba(red, 0.5);
  }

  &:hover .chat-button {
    opacity: 1;
  }
}

#chat {
  width: 400px;
  height: 100vh;
  background: #000;
  .chat-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    h2 {
      text-align: center;
      color: white;
      background: #000;
      margin: 0;
      padding: 0;
      text-overflow: ellipsis;
      width: 300px;
      overflow: hidden;
      white-space: nowrap;
    }
    iframe {
      height: calc(100% - 31px);
    }
    &.selected {
      display: block;
    }
  }
}


iframe {
  width: 100%;
  height: 100%;
  border: 0;
}